@using web_app.Models
@model Student
@{
    ViewBag.Title = "Detalji";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string spol = "";
    if (Model.Spol == 'M')
    {
        spol = "Muški";
    }
    else
    {
        spol = "Ženski";
    }
}

<h2>Detalji</h2>
Prezime = @Model.Prezime<br />
Ime = @Model.Ime<br />
Spol = @spol<br />
Godina studija = @Model.GodinaStudija<br />
Redovni student = @Model.RedovanStudent<br />
Oib = @Model.Oib<br />
Datum rođenja = @Model.DatumRodjenja.ToString("dd.MM.yyy")<br />
