@using web_app.Models
@model StudentiDB
@{
    ViewBag.Title = "Popis studenata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Popis</h2>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Prezime</th>
        <th>Ime</th>
        <th>Oib</th>
        <th>Redovan</th>
        <th>Detalji</th>   
    </tr>
    @foreach (var student in Model.VratiListu()) 
    { 
    <tr>
        <td>@student.Id</td>
        <td>@student.Prezime</td>
        <td>@student.Ime</td>
        <td>@student.Oib</td>
        <td>@Html.CheckBox("redovan", student.RedovanStudent)</td>
        <td>@Html.ActionLink("info", "Detalji", new { id = student.Id })</td>
    </tr>
    }
</table>
